{"openapi":"3.0.3","info":{"version":"1.1.4","title":"GitHub v3 REST API (trimmed for tests)","description":"GitHub's v3 REST API.","license":{"name":"MIT","url":"https://spdx.org/licenses/MIT"},"termsOfService":"https://docs.github.com/articles/github-terms-of-service","contact":{"name":"Support","url":"https://support.github.com/contact?tags=dotcom-rest-api"},"x-github-plan":"api.github.com"},"servers":[{"url":"https://api.github.com"}],"paths":{"/repos/{owner}/{repo}/actions/jobs/{job_id}/logs":{"get":{"summary":"Download job logs for a workflow run","description":"Gets a redirect URL to download a plain text file of logs for a workflow job. This link expires after 1 minute. Look\nfor `Location:` in the response header to find the URL for the download.\n\nAnyone with read access to the repository can use this endpoint.\n\nIf the repository is private, OAuth tokens and personal access tokens (classic) need the `repo` scope to use this endpoint.","tags":["actions"],"operationId":"actions/download-job-logs-for-workflow-run","externalDocs":{"description":"API method documentation","url":"https://docs.github.com/rest/actions/workflow-jobs#download-job-logs-for-a-workflow-run"},"parameters":[{"$ref":"#/components/parameters/owner"},{"$ref":"#/components/parameters/repo"},{"$ref":"#/components/parameters/job-id"}],"responses":{"302":{"description":"Response","headers":{"Location":{"example":"https://pipelines.actions.githubusercontent.com/ab1f3cCFPB34Nd6imvFxpGZH5hNlDp2wijMwl2gDoO0bcrrlJj/_apis/pipelines/1/jobs/19/signedlogcontent?urlExpires=2020-01-22T22%3A44%3A54.1389777Z&urlSigningMethod=HMACV1&urlSignature=2TUDfIg4fm36OJmfPy6km5QD5DLCOkBVzvhWZM8B%2BUY%3D","schema":{"type":"string"}}}}},"x-github":{"githubCloudOnly":false,"enabledForGitHubApps":true,"category":"actions","subcategory":"workflow-jobs"}}},"/repos/{owner}/{repo}/actions/runs":{"get":{"summary":"List workflow runs for a repository","description":"Lists all workflow runs for a repository. You can use parameters to narrow the list of results. For more information about using parameters, see [Parameters](https://docs.github.com/rest/guides/getting-started-with-the-rest-api#parameters).\n\nAnyone with read access to the repository can use this endpoint.\n\nOAuth app tokens and personal access tokens (classic) need the `repo` scope to use this endpoint with a private repository.\n\nThis endpoint will return up to 1,000 results for each search when using the following parameters: `actor`, `branch`, `check_suite_id`, `created`, `event`, `head_sha`, `status`.","tags":["actions"],"operationId":"actions/list-workflow-runs-for-repo","externalDocs":{"description":"API method documentation","url":"https://docs.github.com/rest/actions/workflow-runs#list-workflow-runs-for-a-repository"},"parameters":[{"$ref":"#/components/parameters/owner"},{"$ref":"#/components/parameters/repo"},{"$ref":"#/components/parameters/actor"},{"$ref":"#/components/parameters/workflow-run-branch"},{"$ref":"#/components/parameters/event"},{"$ref":"#/components/parameters/workflow-run-status"},{"$ref":"#/components/parameters/per-page"},{"$ref":"#/components/parameters/page"},{"$ref":"#/components/parameters/created"},{"$ref":"#/components/parameters/exclude-pull-requests"},{"$ref":"#/components/parameters/workflow-run-check-suite-id"},{"$ref":"#/components/parameters/workflow-run-head-sha"}],"responses":{"200":{"description":"Response","content":{"application/json":{"schema":{"type":"object","required":["total_count","workflow_runs"],"properties":{"total_count":{"type":"integer"},"workflow_runs":{"type":"array","items":{"$ref":"#/components/schemas/workflow-run"}}}},"examples":{"default":{"$ref":"#/components/examples/workflow-run-paginated"}}}},"headers":{"Link":{"$ref":"#/components/headers/link"}}}},"x-github":{"githubCloudOnly":false,"enabledForGitHubApps":true,"category":"actions","subcategory":"workflow-runs"}}},"/repos/{owner}/{repo}/actions/runs/{run_id}/jobs":{"get":{"summary":"List jobs for a workflow run","description":"Lists jobs for a workflow run. You can use parameters to narrow the list of results. For more information\nabout using parameters, see [Parameters](https://docs.github.com/rest/guides/getting-started-with-the-rest-api#parameters).\n\nAnyone with read access to the repository can use this endpoint.\n\nOAuth app tokens and personal access tokens (classic) need the `repo` scope to use this endpoint with a private repository.","tags":["actions"],"operationId":"actions/list-jobs-for-workflow-run","externalDocs":{"description":"API method documentation","url":"https://docs.github.com/rest/actions/workflow-jobs#list-jobs-for-a-workflow-run"},"parameters":[{"$ref":"#/components/parameters/owner"},{"$ref":"#/components/parameters/repo"},{"$ref":"#/components/parameters/run-id"},{"name":"filter","description":"Filters jobs by their `completed_at` timestamp. `latest` returns jobs from the most recent execution of the workflow run. `all` returns all jobs for a workflow run, including from old executions of the workflow run.","in":"query","required":false,"schema":{"type":"string","enum":["latest","all"],"default":"latest"}},{"$ref":"#/components/parameters/per-page"},{"$ref":"#/components/parameters/page"}],"responses":{"200":{"description":"Response","content":{"application/json":{"schema":{"type":"object","required":["total_count","jobs"],"properties":{"total_count":{"type":"integer"},"jobs":{"type":"array","items":{"$ref":"#/components/schemas/job"}}}},"examples":{"default":{"$ref":"#/components/examples/job-paginated"}}}},"headers":{"Link":{"$ref":"#/components/headers/link"}}}},"x-github":{"githubCloudOnly":false,"enabledForGitHubApps":true,"category":"actions","subcategory":"workflow-jobs"}}},"/repos/{owner}/{repo}/actions/runs/{run_id}/timing":{"get":{"summary":"Get workflow run usage","description":"> [!WARNING]  \n> This endpoint is in the process of closing down. Refer to \"[Actions Get workflow usage and Get workflow run usage endpoints closing down](https://github.blog/changelog/2025-02-02-actions-get-workflow-usage-and-get-workflow-run-usage-endpoints-closing-down/)\" for more information.\n\nGets the number of billable minutes and total run time for a specific workflow run. Billable minutes only apply to workflows in private repositories that use GitHub-hosted runners. Usage is listed for each GitHub-hosted runner operating system in milliseconds. Any job re-runs are also included in the usage. The usage does not include the multiplier for macOS and Windows runners and is not rounded up to the nearest whole minute. For more information, see \"[Managing billing for GitHub Actions](https://docs.github.com/github/setting-up-and-managing-billing-and-payments-on-github/managing-billing-for-github-actions)\".\n\nAnyone with read access to the repository can use this endpoint.\n\nOAuth app tokens and personal access tokens (classic) need the `repo` scope to use this endpoint with a private repository.","tags":["actions"],"operationId":"actions/get-workflow-run-usage","externalDocs":{"description":"API method documentation","url":"https://docs.github.com/rest/actions/workflow-runs#get-workflow-run-usage"},"parameters":[{"$ref":"#/components/parameters/owner"},{"$ref":"#/components/parameters/repo"},{"$ref":"#/components/parameters/run-id"}],"responses":{"200":{"description":"Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/workflow-run-usage"},"examples":{"default":{"$ref":"#/components/examples/workflow-run-usage"}}}}}},"x-github":{"githubCloudOnly":false,"enabledForGitHubApps":false,"category":"actions","subcategory":"workflow-runs"}}},"/repos/{owner}/{repo}/actions/workflows":{"get":{"summary":"List repository workflows","description":"Lists the workflows in a repository.\n\nAnyone with read access to the repository can use this endpoint.\n\nOAuth app tokens and personal access tokens (classic) need the `repo` scope to use this endpoint with a private repository.","tags":["actions"],"operationId":"actions/list-repo-workflows","externalDocs":{"description":"API method documentation","url":"https://docs.github.com/rest/actions/workflows#list-repository-workflows"},"parameters":[{"$ref":"#/components/parameters/owner"},{"$ref":"#/components/parameters/repo"},{"$ref":"#/components/parameters/per-page"},{"$ref":"#/components/parameters/page"}],"responses":{"200":{"description":"Response","content":{"application/json":{"schema":{"type":"object","required":["total_count","workflows"],"properties":{"total_count":{"type":"integer"},"workflows":{"type":"array","items":{"$ref":"#/components/schemas/workflow"}}}},"examples":{"default":{"$ref":"#/components/examples/workflow-paginated"}}}},"headers":{"Link":{"$ref":"#/components/headers/link"}}}},"x-github":{"githubCloudOnly":false,"enabledForGitHubApps":true,"category":"actions","subcategory":"workflows"}}},"/repos/{owner}/{repo}/check-runs/{check_run_id}/annotations":{"get":{"summary":"List check run annotations","description":"Lists annotations for a check run using the annotation `id`.\n\nOAuth app tokens and personal access tokens (classic) need the `repo` scope to use this endpoint on a private repository.","tags":["checks"],"operationId":"checks/list-annotations","externalDocs":{"description":"API method documentation","url":"https://docs.github.com/rest/checks/runs#list-check-run-annotations"},"parameters":[{"$ref":"#/components/parameters/owner"},{"$ref":"#/components/parameters/repo"},{"$ref":"#/components/parameters/check-run-id"},{"$ref":"#/components/parameters/per-page"},{"$ref":"#/components/parameters/page"}],"responses":{"200":{"description":"Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/check-annotation"}},"examples":{"default":{"$ref":"#/components/examples/check-annotation-items"}}}},"headers":{"Link":{"$ref":"#/components/headers/link"}}}},"x-github":{"githubCloudOnly":false,"enabledForGitHubApps":true,"category":"checks","subcategory":"runs"}}},"/repos/{owner}/{repo}/commits/{ref}":{"get":{"summary":"Get a commit","description":"Returns the contents of a single commit reference. You must have `read` access for the repository to use this endpoint.\n\n> [!NOTE]\n> If there are more than 300 files in the commit diff and the default JSON media type is requested, the response will include pagination link headers for the remaining files, up to a limit of 3000 files. Each page contains the static commit information, and the only changes are to the file listing.\n\nThis endpoint supports the following custom media types. For more information, see \"[Media types](https://docs.github.com/rest/using-the-rest-api/getting-started-with-the-rest-api#media-types).\" Pagination query parameters are not supported for these media types.\n\n- **`application/vnd.github.diff`**: Returns the diff of the commit. Larger diffs may time out and return a 5xx status code.\n- **`application/vnd.github.patch`**: Returns the patch of the commit. Diffs with binary data will have no `patch` property. Larger diffs may time out and return a 5xx status code.\n- **`application/vnd.github.sha`**: Returns the commit's SHA-1 hash. You can use this endpoint to check if a remote reference's SHA-1 hash is the same as your local reference's SHA-1 hash by providing the local SHA-1 reference as the ETag.\n\n**Signature verification object**\n\nThe response will include a `verification` object that describes the result of verifying the commit's signature. The following fields are included in the `verification` object:\n\n| Name | Type | Description |\n| ---- | ---- | ----------- |\n| `verified` | `boolean` | Indicates whether GitHub considers the signature in this commit to be verified. |\n| `reason` | `string` | The reason for verified value. Possible values and their meanings are enumerated in table below. |\n| `signature` | `string` | The signature that was extracted from the commit. |\n| `payload` | `string` | The value that was signed. |\n| `verified_at` | `string` | The date the signature was verified by GitHub. |\n\nThese are the possible values for `reason` in the `verification` object:\n\n| Value | Description |\n| ----- | ----------- |\n| `expired_key` | The key that made the signature is expired. |\n| `not_signing_key` | The \"signing\" flag is not among the usage flags in the GPG key that made the signature. |\n| `gpgverify_error` | There was an error communicating with the signature verification service. |\n| `gpgverify_unavailable` | The signature verification service is currently unavailable. |\n| `unsigned` | The object does not include a signature. |\n| `unknown_signature_type` | A non-PGP signature was found in the commit. |\n| `no_user` | No user was associated with the `committer` email address in the commit. |\n| `unverified_email` | The `committer` email address in the commit was associated with a user, but the email address is not verified on their account. |\n| `bad_email` | The `committer` email address in the commit is not included in the identities of the PGP key that made the signature. |\n| `unknown_key` | The key that made the signature has not been registered with any user's account. |\n| `malformed_signature` | There was an error parsing the signature. |\n| `invalid` | The signature could not be cryptographically verified using the key whose key-id was found in the signature. |\n| `valid` | None of the above errors applied, so the signature is considered to be verified. |","tags":["repos"],"operationId":"repos/get-commit","externalDocs":{"description":"API method documentation","url":"https://docs.github.com/rest/commits/commits#get-a-commit"},"parameters":[{"$ref":"#/components/parameters/owner"},{"$ref":"#/components/parameters/repo"},{"$ref":"#/components/parameters/page"},{"$ref":"#/components/parameters/per-page"},{"$ref":"#/components/parameters/commit-ref"}],"responses":{"200":{"description":"Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/commit"},"examples":{"default":{"$ref":"#/components/examples/commit"}}},"application/vnd.github.diff":{"schema":{"type":"string"},"examples":{"default":{"$ref":"#/components/examples/diff-media-type"}}},"application/vnd.github.patch":{"schema":{"type":"string"},"examples":{"default":{"$ref":"#/components/examples/patch-media-type"}}},"application/vnd.github.sha":{"schema":{"type":"string"},"examples":{"default":{"value":"ac3282a2725be3b1d4979169a7a311c89066af1c"}}}}},"422":{"$ref":"#/components/responses/validation_failed"},"404":{"$ref":"#/components/responses/not_found"},"429":{"$ref":"#/components/responses/server_load_try_again"},"500":{"$ref":"#/components/responses/internal_error"},"503":{"$ref":"#/components/responses/service_unavailable"},"409":{"$ref":"#/components/responses/conflict"}},"x-github":{"githubCloudOnly":false,"enabledForGitHubApps":true,"category":"commits","subcategory":"commits"}}}},"components":{"examples":{"check-annotation-items":{"value":[{"path":"README.md","start_line":2,"end_line":2,"start_column":5,"end_column":10,"annotation_level":"warning","title":"Spell Checker","message":"Check your spelling for 'banaas'.","raw_details":"Do you mean 'bananas' or 'banana'?","blob_href":"https://api.github.com/repos/github/rest-api-description/git/blobs/abc"}]},"commit":{"value":{"url":"https://api.github.com/repos/octocat/Hello-World/commits/6dcb09b5b57875f334f61aebed695e2e4193db5e","sha":"6dcb09b5b57875f334f61aebed695e2e4193db5e","node_id":"MDY6Q29tbWl0NmRjYjA5YjViNTc4NzVmMzM0ZjYxYWViZWQ2OTVlMmU0MTkzZGI1ZQ==","html_url":"https://github.com/octocat/Hello-World/commit/6dcb09b5b57875f334f61aebed695e2e4193db5e","comments_url":"https://api.github.com/repos/octocat/Hello-World/commits/6dcb09b5b57875f334f61aebed695e2e4193db5e/comments","commit":{"url":"https://api.github.com/repos/octocat/Hello-World/git/commits/6dcb09b5b57875f334f61aebed695e2e4193db5e","author":{"name":"Monalisa Octocat","email":"mona@github.com","date":"2011-04-14T16:00:49Z"},"committer":{"name":"Monalisa Octocat","email":"mona@github.com","date":"2011-04-14T16:00:49Z"},"message":"Fix all the bugs","tree":{"url":"https://api.github.com/repos/octocat/Hello-World/tree/6dcb09b5b57875f334f61aebed695e2e4193db5e","sha":"6dcb09b5b57875f334f61aebed695e2e4193db5e"},"comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null,"verified_at":null}},"author":{"login":"octocat","id":1,"node_id":"MDQ6VXNlcjE=","avatar_url":"https://github.com/images/error/octocat_happy.gif","gravatar_id":"","url":"https://api.github.com/users/octocat","html_url":"https://github.com/octocat","followers_url":"https://api.github.com/users/octocat/followers","following_url":"https://api.github.com/users/octocat/following{/other_user}","gists_url":"https://api.github.com/users/octocat/gists{/gist_id}","starred_url":"https://api.github.com/users/octocat/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/octocat/subscriptions","organizations_url":"https://api.github.com/users/octocat/orgs","repos_url":"https://api.github.com/users/octocat/repos","events_url":"https://api.github.com/users/octocat/events{/privacy}","received_events_url":"https://api.github.com/users/octocat/received_events","type":"User","site_admin":false},"committer":{"login":"octocat","id":1,"node_id":"MDQ6VXNlcjE=","avatar_url":"https://github.com/images/error/octocat_happy.gif","gravatar_id":"","url":"https://api.github.com/users/octocat","html_url":"https://github.com/octocat","followers_url":"https://api.github.com/users/octocat/followers","following_url":"https://api.github.com/users/octocat/following{/other_user}","gists_url":"https://api.github.com/users/octocat/gists{/gist_id}","starred_url":"https://api.github.com/users/octocat/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/octocat/subscriptions","organizations_url":"https://api.github.com/users/octocat/orgs","repos_url":"https://api.github.com/users/octocat/repos","events_url":"https://api.github.com/users/octocat/events{/privacy}","received_events_url":"https://api.github.com/users/octocat/received_events","type":"User","site_admin":false},"parents":[{"url":"https://api.github.com/repos/octocat/Hello-World/commits/6dcb09b5b57875f334f61aebed695e2e4193db5e","sha":"6dcb09b5b57875f334f61aebed695e2e4193db5e"}],"stats":{"additions":104,"deletions":4,"total":108},"files":[{"filename":"file1.txt","additions":10,"deletions":2,"changes":12,"status":"modified","raw_url":"https://github.com/octocat/Hello-World/raw/7ca483543807a51b6079e54ac4cc392bc29ae284/file1.txt","blob_url":"https://github.com/octocat/Hello-World/blob/7ca483543807a51b6079e54ac4cc392bc29ae284/file1.txt","patch":"@@ -29,7 +29,7 @@\n....."}]}},"diff-media-type":{"value":"diff --git a/testfile b/testfile\nindex 9bdeaeb..912c7ef 100644\n--- a/testfile\n+++ b/testfile\n@@ -1 +1 @@\n-test\n+test change\n"},"job-paginated":{"value":{"total_count":1,"jobs":[{"id":399444496,"run_id":29679449,"run_url":"https://api.github.com/repos/octo-org/octo-repo/actions/runs/29679449","node_id":"MDEyOldvcmtmbG93IEpvYjM5OTQ0NDQ5Ng==","head_sha":"f83a356604ae3c5d03e1b46ef4d1ca77d64a90b0","url":"https://api.github.com/repos/octo-org/octo-repo/actions/jobs/399444496","html_url":"https://github.com/octo-org/octo-repo/runs/29679449/jobs/399444496","status":"completed","conclusion":"success","started_at":"2020-01-20T17:42:40Z","completed_at":"2020-01-20T17:44:39Z","name":"build","steps":[{"name":"Set up job","status":"completed","conclusion":"success","number":1,"started_at":"2020-01-20T09:42:40.000-08:00","completed_at":"2020-01-20T09:42:41.000-08:00"},{"name":"Run actions/checkout@v2","status":"completed","conclusion":"success","number":2,"started_at":"2020-01-20T09:42:41.000-08:00","completed_at":"2020-01-20T09:42:45.000-08:00"},{"name":"Set up Ruby","status":"completed","conclusion":"success","number":3,"started_at":"2020-01-20T09:42:45.000-08:00","completed_at":"2020-01-20T09:42:45.000-08:00"},{"name":"Run actions/cache@v3","status":"completed","conclusion":"success","number":4,"started_at":"2020-01-20T09:42:45.000-08:00","completed_at":"2020-01-20T09:42:48.000-08:00"},{"name":"Install Bundler","status":"completed","conclusion":"success","number":5,"started_at":"2020-01-20T09:42:48.000-08:00","completed_at":"2020-01-20T09:42:52.000-08:00"},{"name":"Install Gems","status":"completed","conclusion":"success","number":6,"started_at":"2020-01-20T09:42:52.000-08:00","completed_at":"2020-01-20T09:42:53.000-08:00"},{"name":"Run Tests","status":"completed","conclusion":"success","number":7,"started_at":"2020-01-20T09:42:53.000-08:00","completed_at":"2020-01-20T09:42:59.000-08:00"},{"name":"Deploy to Heroku","status":"completed","conclusion":"success","number":8,"started_at":"2020-01-20T09:42:59.000-08:00","completed_at":"2020-01-20T09:44:39.000-08:00"},{"name":"Post actions/cache@v3","status":"completed","conclusion":"success","number":16,"started_at":"2020-01-20T09:44:39.000-08:00","completed_at":"2020-01-20T09:44:39.000-08:00"},{"name":"Complete job","status":"completed","conclusion":"success","number":17,"started_at":"2020-01-20T09:44:39.000-08:00","completed_at":"2020-01-20T09:44:39.000-08:00"}],"check_run_url":"https://api.github.com/repos/octo-org/octo-repo/check-runs/399444496","labels":["self-hosted","foo","bar"],"runner_id":1,"runner_name":"my runner","runner_group_id":2,"runner_group_name":"my runner group","workflow_name":"CI","head_branch":"main"}]}},"patch-media-type":{"value":"From ac3282a2725be3b1d4979169a7a311c89066af1c Mon Sep 17 00:00:00 2001\nFrom: Mona Lisa <87831417+monalisa@users.noreply.github.com>\nDate: Fri, 6 Mar 2026 11:18:45 +0000\nSubject: [PATCH] Change 'test' to 'test change' in testfile\n\n---\ntestfile | 2 +-\n1 file changed, 1 insertion(+), 1 deletion(-)\n\ndiff --git a/testfile b/testfile\nindex 9bdeaeb..912c7ef 100644\n--- a/testfile\n+++ b/testfile\n@@ -1 +1 @@\n-test\n+test change\n"},"workflow-paginated":{"value":{"total_count":2,"workflows":[{"id":161335,"node_id":"MDg6V29ya2Zsb3cxNjEzMzU=","name":"CI","path":".github/workflows/blank.yaml","state":"active","created_at":"2020-01-08T23:48:37.000-08:00","updated_at":"2020-01-08T23:50:21.000-08:00","url":"https://api.github.com/repos/octo-org/octo-repo/actions/workflows/161335","html_url":"https://github.com/octo-org/octo-repo/blob/master/.github/workflows/161335","badge_url":"https://github.com/octo-org/octo-repo/workflows/CI/badge.svg"},{"id":269289,"node_id":"MDE4OldvcmtmbG93IFNlY29uZGFyeTI2OTI4OQ==","name":"Linter","path":".github/workflows/linter.yaml","state":"active","created_at":"2020-01-08T23:48:37.000-08:00","updated_at":"2020-01-08T23:50:21.000-08:00","url":"https://api.github.com/repos/octo-org/octo-repo/actions/workflows/269289","html_url":"https://github.com/octo-org/octo-repo/blob/master/.github/workflows/269289","badge_url":"https://github.com/octo-org/octo-repo/workflows/Linter/badge.svg"}]}},"workflow-run-paginated":{"value":{"total_count":1,"workflow_runs":[{"id":30433642,"name":"Build","node_id":"MDEyOldvcmtmbG93IFJ1bjI2OTI4OQ==","check_suite_id":42,"check_suite_node_id":"MDEwOkNoZWNrU3VpdGU0Mg==","head_branch":"master","head_sha":"acb5820ced9479c074f688cc328bf03f341a511d","path":".github/workflows/build.yml@main","run_number":562,"event":"push","display_title":"Update README.md","status":"queued","conclusion":null,"workflow_id":159038,"url":"https://api.github.com/repos/octo-org/octo-repo/actions/runs/30433642","html_url":"https://github.com/octo-org/octo-repo/actions/runs/30433642","pull_requests":[],"created_at":"2020-01-22T19:33:08Z","updated_at":"2020-01-22T19:33:08Z","actor":{"login":"octocat","id":1,"node_id":"MDQ6VXNlcjE=","avatar_url":"https://github.com/images/error/octocat_happy.gif","gravatar_id":"","url":"https://api.github.com/users/octocat","html_url":"https://github.com/octocat","followers_url":"https://api.github.com/users/octocat/followers","following_url":"https://api.github.com/users/octocat/following{/other_user}","gists_url":"https://api.github.com/users/octocat/gists{/gist_id}","starred_url":"https://api.github.com/users/octocat/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/octocat/subscriptions","organizations_url":"https://api.github.com/users/octocat/orgs","repos_url":"https://api.github.com/users/octocat/repos","events_url":"https://api.github.com/users/octocat/events{/privacy}","received_events_url":"https://api.github.com/users/octocat/received_events","type":"User","site_admin":false},"run_attempt":1,"run_started_at":"2020-01-22T19:33:08Z","triggering_actor":{"login":"octocat","id":1,"node_id":"MDQ6VXNlcjE=","avatar_url":"https://github.com/images/error/octocat_happy.gif","gravatar_id":"","url":"https://api.github.com/users/octocat","html_url":"https://github.com/octocat","followers_url":"https://api.github.com/users/octocat/followers","following_url":"https://api.github.com/users/octocat/following{/other_user}","gists_url":"https://api.github.com/users/octocat/gists{/gist_id}","starred_url":"https://api.github.com/users/octocat/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/octocat/subscriptions","organizations_url":"https://api.github.com/users/octocat/orgs","repos_url":"https://api.github.com/users/octocat/repos","events_url":"https://api.github.com/users/octocat/events{/privacy}","received_events_url":"https://api.github.com/users/octocat/received_events","type":"User","site_admin":false},"jobs_url":"https://api.github.com/repos/octo-org/octo-repo/actions/runs/30433642/jobs","logs_url":"https://api.github.com/repos/octo-org/octo-repo/actions/runs/30433642/logs","check_suite_url":"https://api.github.com/repos/octo-org/octo-repo/check-suites/414944374","artifacts_url":"https://api.github.com/repos/octo-org/octo-repo/actions/runs/30433642/artifacts","cancel_url":"https://api.github.com/repos/octo-org/octo-repo/actions/runs/30433642/cancel","rerun_url":"https://api.github.com/repos/octo-org/octo-repo/actions/runs/30433642/rerun","workflow_url":"https://api.github.com/repos/octo-org/octo-repo/actions/workflows/159038","head_commit":{"id":"acb5820ced9479c074f688cc328bf03f341a511d","tree_id":"d23f6eedb1e1b9610bbc754ddb5197bfe7271223","message":"Create linter.yaml","timestamp":"2020-01-22T19:33:05Z","author":{"name":"Octo Cat","email":"octocat@github.com"},"committer":{"name":"GitHub","email":"noreply@github.com"}},"repository":{"id":1296269,"node_id":"MDEwOlJlcG9zaXRvcnkxMjk2MjY5","name":"Hello-World","full_name":"octocat/Hello-World","owner":{"login":"octocat","id":1,"node_id":"MDQ6VXNlcjE=","avatar_url":"https://github.com/images/error/octocat_happy.gif","gravatar_id":"","url":"https://api.github.com/users/octocat","html_url":"https://github.com/octocat","followers_url":"https://api.github.com/users/octocat/followers","following_url":"https://api.github.com/users/octocat/following{/other_user}","gists_url":"https://api.github.com/users/octocat/gists{/gist_id}","starred_url":"https://api.github.com/users/octocat/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/octocat/subscriptions","organizations_url":"https://api.github.com/users/octocat/orgs","repos_url":"https://api.github.com/users/octocat/repos","events_url":"https://api.github.com/users/octocat/events{/privacy}","received_events_url":"https://api.github.com/users/octocat/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/octocat/Hello-World","description":"This your first repo!","fork":false,"url":"https://api.github.com/repos/octocat/Hello-World","archive_url":"https://api.github.com/repos/octocat/Hello-World/{archive_format}{/ref}","assignees_url":"https://api.github.com/repos/octocat/Hello-World/assignees{/user}","blobs_url":"https://api.github.com/repos/octocat/Hello-World/git/blobs{/sha}","branches_url":"https://api.github.com/repos/octocat/Hello-World/branches{/branch}","collaborators_url":"https://api.github.com/repos/octocat/Hello-World/collaborators{/collaborator}","comments_url":"https://api.github.com/repos/octocat/Hello-World/comments{/number}","commits_url":"https://api.github.com/repos/octocat/Hello-World/commits{/sha}","compare_url":"https://api.github.com/repos/octocat/Hello-World/compare/{base}...{head}","contents_url":"https://api.github.com/repos/octocat/Hello-World/contents/{+path}","contributors_url":"https://api.github.com/repos/octocat/Hello-World/contributors","deployments_url":"https://api.github.com/repos/octocat/Hello-World/deployments","downloads_url":"https://api.github.com/repos/octocat/Hello-World/downloads","events_url":"https://api.github.com/repos/octocat/Hello-World/events","forks_url":"https://api.github.com/repos/octocat/Hello-World/forks","git_commits_url":"https://api.github.com/repos/octocat/Hello-World/git/commits{/sha}","git_refs_url":"https://api.github.com/repos/octocat/Hello-World/git/refs{/sha}","git_tags_url":"https://api.github.com/repos/octocat/Hello-World/git/tags{/sha}","git_url":"git:github.com/octocat/Hello-World.git","issue_comment_url":"https://api.github.com/repos/octocat/Hello-World/issues/comments{/number}","issue_events_url":"https://api.github.com/repos/octocat/Hello-World/issues/events{/number}","issues_url":"https://api.github.com/repos/octocat/Hello-World/issues{/number}","keys_url":"https://api.github.com/repos/octocat/Hello-World/keys{/key_id}","labels_url":"https://api.github.com/repos/octocat/Hello-World/labels{/name}","languages_url":"https://api.github.com/repos/octocat/Hello-World/languages","merges_url":"https://api.github.com/repos/octocat/Hello-World/merges","milestones_url":"https://api.github.com/repos/octocat/Hello-World/milestones{/number}","notifications_url":"https://api.github.com/repos/octocat/Hello-World/notifications{?since,all,participating}","pulls_url":"https://api.github.com/repos/octocat/Hello-World/pulls{/number}","releases_url":"https://api.github.com/repos/octocat/Hello-World/releases{/id}","ssh_url":"git@github.com:octocat/Hello-World.git","stargazers_url":"https://api.github.com/repos/octocat/Hello-World/stargazers","statuses_url":"https://api.github.com/repos/octocat/Hello-World/statuses/{sha}","subscribers_url":"https://api.github.com/repos/octocat/Hello-World/subscribers","subscription_url":"https://api.github.com/repos/octocat/Hello-World/subscription","tags_url":"https://api.github.com/repos/octocat/Hello-World/tags","teams_url":"https://api.github.com/repos/octocat/Hello-World/teams","trees_url":"https://api.github.com/repos/octocat/Hello-World/git/trees{/sha}","hooks_url":"http://api.github.com/repos/octocat/Hello-World/hooks"},"head_repository":{"id":217723378,"node_id":"MDEwOlJlcG9zaXRvcnkyMTc3MjMzNzg=","name":"octo-repo","full_name":"octo-org/octo-repo","private":true,"owner":{"login":"octocat","id":1,"node_id":"MDQ6VXNlcjE=","avatar_url":"https://github.com/images/error/octocat_happy.gif","gravatar_id":"","url":"https://api.github.com/users/octocat","html_url":"https://github.com/octocat","followers_url":"https://api.github.com/users/octocat/followers","following_url":"https://api.github.com/users/octocat/following{/other_user}","gists_url":"https://api.github.com/users/octocat/gists{/gist_id}","starred_url":"https://api.github.com/users/octocat/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/octocat/subscriptions","organizations_url":"https://api.github.com/users/octocat/orgs","repos_url":"https://api.github.com/users/octocat/repos","events_url":"https://api.github.com/users/octocat/events{/privacy}","received_events_url":"https://api.github.com/users/octocat/received_events","type":"User","site_admin":false},"html_url":"https://github.com/octo-org/octo-repo","description":null,"fork":false,"url":"https://api.github.com/repos/octo-org/octo-repo","forks_url":"https://api.github.com/repos/octo-org/octo-repo/forks","keys_url":"https://api.github.com/repos/octo-org/octo-repo/keys{/key_id}","collaborators_url":"https://api.github.com/repos/octo-org/octo-repo/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/octo-org/octo-repo/teams","hooks_url":"https://api.github.com/repos/octo-org/octo-repo/hooks","issue_events_url":"https://api.github.com/repos/octo-org/octo-repo/issues/events{/number}","events_url":"https://api.github.com/repos/octo-org/octo-repo/events","assignees_url":"https://api.github.com/repos/octo-org/octo-repo/assignees{/user}","branches_url":"https://api.github.com/repos/octo-org/octo-repo/branches{/branch}","tags_url":"https://api.github.com/repos/octo-org/octo-repo/tags","blobs_url":"https://api.github.com/repos/octo-org/octo-repo/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/octo-org/octo-repo/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/octo-org/octo-repo/git/refs{/sha}","trees_url":"https://api.github.com/repos/octo-org/octo-repo/git/trees{/sha}","statuses_url":"https://api.github.com/repos/octo-org/octo-repo/statuses/{sha}","languages_url":"https://api.github.com/repos/octo-org/octo-repo/languages","stargazers_url":"https://api.github.com/repos/octo-org/octo-repo/stargazers","contributors_url":"https://api.github.com/repos/octo-org/octo-repo/contributors","subscribers_url":"https://api.github.com/repos/octo-org/octo-repo/subscribers","subscription_url":"https://api.github.com/repos/octo-org/octo-repo/subscription","commits_url":"https://api.github.com/repos/octo-org/octo-repo/commits{/sha}","git_commits_url":"https://api.github.com/repos/octo-org/octo-repo/git/commits{/sha}","comments_url":"https://api.github.com/repos/octo-org/octo-repo/comments{/number}","issue_comment_url":"https://api.github.com/repos/octo-org/octo-repo/issues/comments{/number}","contents_url":"https://api.github.com/repos/octo-org/octo-repo/contents/{+path}","compare_url":"https://api.github.com/repos/octo-org/octo-repo/compare/{base}...{head}","merges_url":"https://api.github.com/repos/octo-org/octo-repo/merges","archive_url":"https://api.github.com/repos/octo-org/octo-repo/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/octo-org/octo-repo/downloads","issues_url":"https://api.github.com/repos/octo-org/octo-repo/issues{/number}","pulls_url":"https://api.github.com/repos/octo-org/octo-repo/pulls{/number}","milestones_url":"https://api.github.com/repos/octo-org/octo-repo/milestones{/number}","notifications_url":"https://api.github.com/repos/octo-org/octo-repo/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/octo-org/octo-repo/labels{/name}","releases_url":"https://api.github.com/repos/octo-org/octo-repo/releases{/id}","deployments_url":"https://api.github.com/repos/octo-org/octo-repo/deployments"}}]}},"workflow-run-usage":{"value":{"billable":{"UBUNTU":{"total_ms":180000,"jobs":1,"job_runs":[{"job_id":1,"duration_ms":180000}]},"MACOS":{"total_ms":240000,"jobs":4,"job_runs":[{"job_id":2,"duration_ms":60000},{"job_id":3,"duration_ms":60000},{"job_id":4,"duration_ms":60000},{"job_id":5,"duration_ms":60000}]},"WINDOWS":{"total_ms":300000,"jobs":2,"job_runs":[{"job_id":6,"duration_ms":150000},{"job_id":7,"duration_ms":150000}]}},"run_duration_ms":500000}}},"headers":{"link":{"example":"<https://api.github.com/resource?page=2>; rel=\"next\", <https://api.github.com/resource?page=5>; rel=\"last\"","schema":{"type":"string"}}},"parameters":{"actor":{"name":"actor","description":"Returns someone's workflow runs. Use the login for the user who created the `push` associated with the check suite or workflow run.","in":"query","required":false,"schema":{"type":"string"}},"check-run-id":{"name":"check_run_id","description":"The unique identifier of the check run.","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},"commit-ref":{"name":"ref","description":"The commit reference. Can be a commit SHA, branch name (`heads/BRANCH_NAME`), or tag name (`tags/TAG_NAME`). For more information, see \"[Git References](https://git-scm.com/book/en/v2/Git-Internals-Git-References)\" in the Git documentation.","in":"path","required":true,"schema":{"type":"string"},"x-multi-segment":true},"created":{"name":"created","description":"Returns workflow runs created within the given date-time range. For more information on the syntax, see \"[Understanding the search syntax](https://docs.github.com/search-github/getting-started-with-searching-on-github/understanding-the-search-syntax#query-for-dates).\"","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},"event":{"name":"event","description":"Returns workflow run triggered by the event you specify. For example, `push`, `pull_request` or `issue`. For more information, see \"[Events that trigger workflows](https://docs.github.com/actions/automating-your-workflow-with-github-actions/events-that-trigger-workflows).\"","in":"query","required":false,"schema":{"type":"string"}},"exclude-pull-requests":{"name":"exclude_pull_requests","description":"If `true` pull requests are omitted from the response (empty array).","in":"query","required":false,"schema":{"type":"boolean","default":false}},"job-id":{"name":"job_id","description":"The unique identifier of the job.","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},"owner":{"name":"owner","description":"The account owner of the repository. The name is not case sensitive.","in":"path","required":true,"schema":{"type":"string"}},"page":{"name":"page","description":"The page number of the results to fetch. For more information, see \"[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\"","in":"query","schema":{"type":"integer","default":1}},"per-page":{"name":"per_page","description":"The number of results per page (max 100). For more information, see \"[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\"","in":"query","schema":{"type":"integer","default":30}},"repo":{"name":"repo","description":"The name of the repository without the `.git` extension. The name is not case sensitive.","in":"path","required":true,"schema":{"type":"string"}},"run-id":{"name":"run_id","description":"The unique identifier of the workflow run.","in":"path","required":true,"schema":{"type":"integer"}},"workflow-run-branch":{"name":"branch","description":"Returns workflow runs associated with a branch. Use the name of the branch of the `push`.","in":"query","required":false,"schema":{"type":"string"}},"workflow-run-check-suite-id":{"name":"check_suite_id","description":"Returns workflow runs with the `check_suite_id` that you specify.","in":"query","schema":{"type":"integer","format":"int64"}},"workflow-run-head-sha":{"name":"head_sha","description":"Only returns workflow runs that are associated with the specified `head_sha`.","in":"query","required":false,"schema":{"type":"string"}},"workflow-run-status":{"name":"status","description":"Returns workflow runs with the check run `status` or `conclusion` that you specify. For example, a conclusion can be `success` or a status can be `in_progress`. Only GitHub Actions can set a status of `waiting`, `pending`, or `requested`.","in":"query","required":false,"schema":{"type":"string","enum":["completed","action_required","cancelled","failure","neutral","skipped","stale","success","timed_out","in_progress","queued","requested","waiting","pending"]}}},"responses":{"conflict":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/basic-error"}}}},"internal_error":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/basic-error"}}}},"not_found":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/basic-error"}}}},"server_load_try_again":{"description":"The request could not be processed due to heavy server load. Please try again.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/basic-error"}}}},"service_unavailable":{"description":"Service unavailable","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"documentation_url":{"type":"string"}}}}}},"validation_failed":{"description":"Validation failed, or the endpoint has been spammed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/validation-error"}}}}},"schemas":{"basic-error":{"title":"Basic Error","description":"Basic Error","type":"object","properties":{"message":{"type":"string"},"documentation_url":{"type":"string"},"url":{"type":"string"},"status":{"type":"string"}}},"check-annotation":{"title":"Check Annotation","description":"Check Annotation","type":"object","properties":{"path":{"type":"string","example":"README.md"},"start_line":{"type":"integer","example":2},"end_line":{"type":"integer","example":2},"start_column":{"type":"integer","example":5,"nullable":true},"end_column":{"type":"integer","example":10,"nullable":true},"annotation_level":{"type":"string","example":"warning","nullable":true},"title":{"type":"string","example":"Spell Checker","nullable":true},"message":{"type":"string","example":"Check your spelling for 'banaas'.","nullable":true},"raw_details":{"type":"string","example":"Do you mean 'bananas' or 'banana'?","nullable":true},"blob_href":{"type":"string"}},"required":["path","blob_href","start_line","end_line","start_column","end_column","annotation_level","title","message","raw_details"]},"code-of-conduct":{"title":"Code Of Conduct","description":"Code Of Conduct","type":"object","properties":{"key":{"type":"string","example":"contributor_covenant"},"name":{"type":"string","example":"Contributor Covenant"},"url":{"type":"string","format":"uri","example":"https://api.github.com/codes_of_conduct/contributor_covenant"},"body":{"type":"string","example":"# Contributor Covenant Code of Conduct\n\n## Our Pledge\n\nIn the interest of fostering an open and welcoming environment, we as contributors and maintainers pledge to making participation in our project and our community a harassment-free experience for everyone, regardless of age, body size, disability, ethnicity, gender identity and expression, level of experience, nationality, personal appearance, race, religion, or sexual identity and orientation.\n\n## Our Standards\n\nExamples of behavior that contributes to creating a positive environment include:\n\n* Using welcoming and inclusive language\n* Being respectful of differing viewpoints and experiences\n* Gracefully accepting constructive criticism\n* Focusing on what is best for the community\n* Showing empathy towards other community members\n\nExamples of unacceptable behavior by participants include:\n\n* The use of sexualized language or imagery and unwelcome sexual attention or advances\n* Trolling, insulting/derogatory comments, and personal or political attacks\n* Public or private harassment\n* Publishing others' private information, such as a physical or electronic address, without explicit permission\n* Other conduct which could reasonably be considered inappropriate in a professional setting\n\n## Our Responsibilities\n\nProject maintainers are responsible for clarifying the standards of acceptable behavior and are expected to take appropriate and fair corrective action in response\n                  to any instances of unacceptable behavior.\n\nProject maintainers have the right and responsibility to remove, edit, or reject comments, commits, code, wiki edits, issues, and other contributions that are not aligned to this Code of Conduct, or to ban temporarily or permanently any contributor for other behaviors that they deem inappropriate, threatening, offensive, or harmful.\n\n## Scope\n\nThis Code of Conduct applies both within project spaces and in public spaces when an individual is representing the project or its community. Examples of representing a project or community include using an official project e-mail address,\n                  posting via an official social media account, or acting as an appointed representative at an online or offline event. Representation of a project may be further defined and clarified by project maintainers.\n\n## Enforcement\n\nInstances of abusive, harassing, or otherwise unacceptable behavior may be reported by contacting the project team at [EMAIL]. The project team will review and investigate all complaints, and will respond in a way that it deems appropriate to the circumstances. The project team is obligated to maintain confidentiality with regard to the reporter of an incident. Further details of specific enforcement policies may be posted separately.\n\nProject maintainers who do not follow or enforce the Code of Conduct in good faith may face temporary or permanent repercussions as determined by other members of the project's leadership.\n\n## Attribution\n\nThis Code of Conduct is adapted from the [Contributor Covenant](http://contributor-covenant.org), version 1.4, available at [http://contributor-covenant.org/version/1/4](http://contributor-covenant.org/version/1/4/).\n"},"html_url":{"type":"string","format":"uri","nullable":true}},"required":["url","html_url","key","name"]},"commit":{"title":"Commit","description":"Commit","type":"object","properties":{"url":{"type":"string","format":"uri","example":"https://api.github.com/repos/octocat/Hello-World/commits/6dcb09b5b57875f334f61aebed695e2e4193db5e"},"sha":{"type":"string","example":"6dcb09b5b57875f334f61aebed695e2e4193db5e"},"node_id":{"type":"string","example":"MDY6Q29tbWl0NmRjYjA5YjViNTc4NzVmMzM0ZjYxYWViZWQ2OTVlMmU0MTkzZGI1ZQ=="},"html_url":{"type":"string","format":"uri","example":"https://github.com/octocat/Hello-World/commit/6dcb09b5b57875f334f61aebed695e2e4193db5e"},"comments_url":{"type":"string","format":"uri","example":"https://api.github.com/repos/octocat/Hello-World/commits/6dcb09b5b57875f334f61aebed695e2e4193db5e/comments"},"commit":{"type":"object","properties":{"url":{"type":"string","format":"uri","example":"https://api.github.com/repos/octocat/Hello-World/commits/6dcb09b5b57875f334f61aebed695e2e4193db5e"},"author":{"$ref":"#/components/schemas/nullable-git-user"},"committer":{"$ref":"#/components/schemas/nullable-git-user"},"message":{"type":"string","example":"Fix all the bugs"},"comment_count":{"type":"integer","example":0},"tree":{"type":"object","properties":{"sha":{"type":"string","example":"827efc6d56897b048c772eb4087f854f46256132"},"url":{"type":"string","format":"uri","example":"https://api.github.com/repos/octocat/Hello-World/tree/827efc6d56897b048c772eb4087f854f46256132"}},"required":["sha","url"]},"verification":{"$ref":"#/components/schemas/verification"}},"required":["author","committer","comment_count","message","tree","url"]},"author":{"nullable":true,"oneOf":[{"$ref":"#/components/schemas/simple-user"},{"$ref":"#/components/schemas/empty-object"}]},"committer":{"nullable":true,"oneOf":[{"$ref":"#/components/schemas/simple-user"},{"$ref":"#/components/schemas/empty-object"}]},"parents":{"type":"array","items":{"type":"object","properties":{"sha":{"type":"string","example":"7638417db6d59f3c431d3e1f261cc637155684cd"},"url":{"type":"string","format":"uri","example":"https://api.github.com/repos/octocat/Hello-World/commits/7638417db6d59f3c431d3e1f261cc637155684cd"},"html_url":{"type":"string","format":"uri","example":"https://github.com/octocat/Hello-World/commit/7638417db6d59f3c431d3e1f261cc637155684cd"}},"required":["sha","url"]}},"stats":{"type":"object","properties":{"additions":{"type":"integer"},"deletions":{"type":"integer"},"total":{"type":"integer"}}},"files":{"type":"array","items":{"$ref":"#/components/schemas/diff-entry"}}},"required":["url","sha","node_id","html_url","comments_url","commit","author","committer","parents"]},"diff-entry":{"title":"Diff Entry","description":"Diff Entry","type":"object","properties":{"sha":{"type":"string","nullable":true,"example":"bbcd538c8e72b8c175046e27cc8f907076331401"},"filename":{"type":"string","example":"file1.txt"},"status":{"type":"string","enum":["added","removed","modified","renamed","copied","changed","unchanged"],"example":"added"},"additions":{"type":"integer","example":103},"deletions":{"type":"integer","example":21},"changes":{"type":"integer","example":124},"blob_url":{"type":"string","format":"uri","example":"https://github.com/octocat/Hello-World/blob/6dcb09b5b57875f334f61aebed695e2e4193db5e/file1.txt"},"raw_url":{"type":"string","format":"uri","example":"https://github.com/octocat/Hello-World/raw/6dcb09b5b57875f334f61aebed695e2e4193db5e/file1.txt"},"contents_url":{"type":"string","format":"uri","example":"https://api.github.com/repos/octocat/Hello-World/contents/file1.txt?ref=6dcb09b5b57875f334f61aebed695e2e4193db5e"},"patch":{"type":"string","example":"@@ -132,7 +132,7 @@ module Test @@ -1000,7 +1000,7 @@ module Test"},"previous_filename":{"type":"string","example":"file.txt"}},"required":["additions","blob_url","changes","contents_url","deletions","filename","raw_url","sha","status"]},"empty-object":{"title":"Empty Object","description":"An object without any properties.","type":"object","properties":{},"additionalProperties":false},"job":{"title":"Job","description":"Information of a job execution in a workflow run","type":"object","properties":{"id":{"description":"The id of the job.","example":21,"type":"integer","format":"int64"},"run_id":{"description":"The id of the associated workflow run.","example":5,"type":"integer","format":"int64"},"run_url":{"type":"string","example":"https://api.github.com/repos/github/hello-world/actions/runs/5"},"run_attempt":{"type":"integer","description":"Attempt number of the associated workflow run, 1 for first attempt and higher if the workflow was re-run.","example":1},"node_id":{"type":"string","example":"MDg6Q2hlY2tSdW40"},"head_sha":{"description":"The SHA of the commit that is being run.","example":"009b8a3a9ccbb128af87f9b1c0f4c62e8a304f6d","type":"string"},"url":{"type":"string","example":"https://api.github.com/repos/github/hello-world/actions/jobs/21"},"html_url":{"type":"string","example":"https://github.com/github/hello-world/runs/4","nullable":true},"status":{"description":"The phase of the lifecycle that the job is currently in.","example":"queued","type":"string","enum":["queued","in_progress","completed","waiting","requested","pending"]},"conclusion":{"description":"The outcome of the job.","example":"success","type":"string","nullable":true,"enum":["success","failure","neutral","cancelled","skipped","timed_out","action_required"]},"created_at":{"description":"The time that the job created, in ISO 8601 format.","example":"2019-08-08T08:00:00-07:00","format":"date-time","type":"string"},"started_at":{"description":"The time that the job started, in ISO 8601 format.","example":"2019-08-08T08:00:00-07:00","format":"date-time","type":"string"},"completed_at":{"description":"The time that the job finished, in ISO 8601 format.","example":"2019-08-08T08:00:00-07:00","format":"date-time","type":"string","nullable":true},"name":{"description":"The name of the job.","example":"test-coverage","type":"string"},"steps":{"description":"Steps in this job.","type":"array","items":{"type":"object","required":["name","status","conclusion","number"],"properties":{"status":{"description":"The phase of the lifecycle that the job is currently in.","example":"queued","type":"string","enum":["queued","in_progress","completed"]},"conclusion":{"description":"The outcome of the job.","example":"success","type":"string","nullable":true},"name":{"description":"The name of the job.","example":"test-coverage","type":"string"},"number":{"type":"integer","example":1},"started_at":{"description":"The time that the step started, in ISO 8601 format.","example":"2019-08-08T08:00:00-07:00","format":"date-time","type":"string","nullable":true},"completed_at":{"description":"The time that the job finished, in ISO 8601 format.","example":"2019-08-08T08:00:00-07:00","format":"date-time","type":"string","nullable":true}}}},"check_run_url":{"type":"string","example":"https://api.github.com/repos/github/hello-world/check-runs/4"},"labels":{"type":"array","items":{"type":"string"},"description":"Labels for the workflow job. Specified by the \"runs_on\" attribute in the action's workflow file.","example":["self-hosted","foo","bar"]},"runner_id":{"type":"integer","nullable":true,"example":1,"description":"The ID of the runner to which this job has been assigned. (If a runner hasn't yet been assigned, this will be null.)"},"runner_name":{"type":"string","nullable":true,"example":"my runner","description":"The name of the runner to which this job has been assigned. (If a runner hasn't yet been assigned, this will be null.)"},"runner_group_id":{"type":"integer","nullable":true,"example":2,"description":"The ID of the runner group to which this job has been assigned. (If a runner hasn't yet been assigned, this will be null.)"},"runner_group_name":{"type":"string","nullable":true,"example":"my runner group","description":"The name of the runner group to which this job has been assigned. (If a runner hasn't yet been assigned, this will be null.)"},"workflow_name":{"type":"string","description":"The name of the workflow.","nullable":true,"example":"Build"},"head_branch":{"type":"string","description":"The name of the current branch.","nullable":true,"example":"main"}},"required":["id","node_id","run_id","run_url","head_sha","workflow_name","head_branch","name","url","html_url","status","conclusion","started_at","completed_at","check_run_url","labels","runner_id","runner_name","runner_group_id","runner_group_name","created_at"]},"minimal-repository":{"title":"Minimal Repository","description":"Minimal Repository","type":"object","properties":{"id":{"type":"integer","format":"int64","example":1296269},"node_id":{"type":"string","example":"MDEwOlJlcG9zaXRvcnkxMjk2MjY5"},"name":{"type":"string","example":"Hello-World"},"full_name":{"type":"string","example":"octocat/Hello-World"},"owner":{"$ref":"#/components/schemas/simple-user"},"private":{"type":"boolean"},"html_url":{"type":"string","format":"uri","example":"https://github.com/octocat/Hello-World"},"description":{"type":"string","example":"This your first repo!","nullable":true},"fork":{"type":"boolean"},"url":{"type":"string","format":"uri","example":"https://api.github.com/repos/octocat/Hello-World"},"archive_url":{"type":"string","example":"http://api.github.com/repos/octocat/Hello-World/{archive_format}{/ref}"},"assignees_url":{"type":"string","example":"http://api.github.com/repos/octocat/Hello-World/assignees{/user}"},"blobs_url":{"type":"string","example":"http://api.github.com/repos/octocat/Hello-World/git/blobs{/sha}"},"branches_url":{"type":"string","example":"http://api.github.com/repos/octocat/Hello-World/branches{/branch}"},"collaborators_url":{"type":"string","example":"http://api.github.com/repos/octocat/Hello-World/collaborators{/collaborator}"},"comments_url":{"type":"string","example":"http://api.github.com/repos/octocat/Hello-World/comments{/number}"},"commits_url":{"type":"string","example":"http://api.github.com/repos/octocat/Hello-World/commits{/sha}"},"compare_url":{"type":"string","example":"http://api.github.com/repos/octocat/Hello-World/compare/{base}...{head}"},"contents_url":{"type":"string","example":"http://api.github.com/repos/octocat/Hello-World/contents/{+path}"},"contributors_url":{"type":"string","format":"uri","example":"http://api.github.com/repos/octocat/Hello-World/contributors"},"deployments_url":{"type":"string","format":"uri","example":"http://api.github.com/repos/octocat/Hello-World/deployments"},"downloads_url":{"type":"string","format":"uri","example":"http://api.github.com/repos/octocat/Hello-World/downloads"},"events_url":{"type":"string","format":"uri","example":"http://api.github.com/repos/octocat/Hello-World/events"},"forks_url":{"type":"string","format":"uri","example":"http://api.github.com/repos/octocat/Hello-World/forks"},"git_commits_url":{"type":"string","example":"http://api.github.com/repos/octocat/Hello-World/git/commits{/sha}"},"git_refs_url":{"type":"string","example":"http://api.github.com/repos/octocat/Hello-World/git/refs{/sha}"},"git_tags_url":{"type":"string","example":"http://api.github.com/repos/octocat/Hello-World/git/tags{/sha}"},"git_url":{"type":"string"},"issue_comment_url":{"type":"string","example":"http://api.github.com/repos/octocat/Hello-World/issues/comments{/number}"},"issue_events_url":{"type":"string","example":"http://api.github.com/repos/octocat/Hello-World/issues/events{/number}"},"issues_url":{"type":"string","example":"http://api.github.com/repos/octocat/Hello-World/issues{/number}"},"keys_url":{"type":"string","example":"http://api.github.com/repos/octocat/Hello-World/keys{/key_id}"},"labels_url":{"type":"string","example":"http://api.github.com/repos/octocat/Hello-World/labels{/name}"},"languages_url":{"type":"string","format":"uri","example":"http://api.github.com/repos/octocat/Hello-World/languages"},"merges_url":{"type":"string","format":"uri","example":"http://api.github.com/repos/octocat/Hello-World/merges"},"milestones_url":{"type":"string","example":"http://api.github.com/repos/octocat/Hello-World/milestones{/number}"},"notifications_url":{"type":"string","example":"http://api.github.com/repos/octocat/Hello-World/notifications{?since,all,participating}"},"pulls_url":{"type":"string","example":"http://api.github.com/repos/octocat/Hello-World/pulls{/number}"},"releases_url":{"type":"string","example":"http://api.github.com/repos/octocat/Hello-World/releases{/id}"},"ssh_url":{"type":"string"},"stargazers_url":{"type":"string","format":"uri","example":"http://api.github.com/repos/octocat/Hello-World/stargazers"},"statuses_url":{"type":"string","example":"http://api.github.com/repos/octocat/Hello-World/statuses/{sha}"},"subscribers_url":{"type":"string","format":"uri","example":"http://api.github.com/repos/octocat/Hello-World/subscribers"},"subscription_url":{"type":"string","format":"uri","example":"http://api.github.com/repos/octocat/Hello-World/subscription"},"tags_url":{"type":"string","format":"uri","example":"http://api.github.com/repos/octocat/Hello-World/tags"},"teams_url":{"type":"string","format":"uri","example":"http://api.github.com/repos/octocat/Hello-World/teams"},"trees_url":{"type":"string","example":"http://api.github.com/repos/octocat/Hello-World/git/trees{/sha}"},"clone_url":{"type":"string"},"mirror_url":{"type":"string","nullable":true},"hooks_url":{"type":"string","format":"uri","example":"http://api.github.com/repos/octocat/Hello-World/hooks"},"svn_url":{"type":"string"},"homepage":{"type":"string","nullable":true},"language":{"type":"string","nullable":true},"forks_count":{"type":"integer"},"stargazers_count":{"type":"integer"},"watchers_count":{"type":"integer"},"size":{"description":"The size of the repository, in kilobytes. Size is calculated hourly. When a repository is initially created, the size is 0.","type":"integer"},"default_branch":{"type":"string"},"open_issues_count":{"type":"integer"},"is_template":{"type":"boolean"},"topics":{"type":"array","items":{"type":"string"}},"has_issues":{"type":"boolean"},"has_projects":{"type":"boolean"},"has_wiki":{"type":"boolean"},"has_pages":{"type":"boolean"},"has_downloads":{"type":"boolean"},"has_discussions":{"type":"boolean"},"has_pull_requests":{"type":"boolean"},"pull_request_creation_policy":{"description":"The policy controlling who can create pull requests: all or collaborators_only.","type":"string","enum":["all","collaborators_only"]},"archived":{"type":"boolean"},"disabled":{"type":"boolean"},"visibility":{"type":"string"},"pushed_at":{"type":"string","format":"date-time","example":"2011-01-26T19:06:43Z","nullable":true},"created_at":{"type":"string","format":"date-time","example":"2011-01-26T19:01:12Z","nullable":true},"updated_at":{"type":"string","format":"date-time","example":"2011-01-26T19:14:43Z","nullable":true},"permissions":{"type":"object","properties":{"admin":{"type":"boolean"},"maintain":{"type":"boolean"},"push":{"type":"boolean"},"triage":{"type":"boolean"},"pull":{"type":"boolean"}}},"role_name":{"type":"string","example":"admin"},"temp_clone_token":{"type":"string"},"delete_branch_on_merge":{"type":"boolean"},"subscribers_count":{"type":"integer"},"network_count":{"type":"integer"},"code_of_conduct":{"$ref":"#/components/schemas/code-of-conduct"},"license":{"type":"object","properties":{"key":{"type":"string"},"name":{"type":"string"},"spdx_id":{"type":"string"},"url":{"type":"string","nullable":true},"node_id":{"type":"string"}},"nullable":true},"forks":{"type":"integer","example":0},"open_issues":{"type":"integer","example":0},"watchers":{"type":"integer","example":0},"allow_forking":{"type":"boolean"},"web_commit_signoff_required":{"type":"boolean","example":false},"security_and_analysis":{"$ref":"#/components/schemas/security-and-analysis"},"custom_properties":{"type":"object","description":"The custom properties that were defined for the repository. The keys are the custom property names, and the values are the corresponding custom property values.","additionalProperties":true}},"required":["archive_url","assignees_url","blobs_url","branches_url","collaborators_url","comments_url","commits_url","compare_url","contents_url","contributors_url","deployments_url","description","downloads_url","events_url","fork","forks_url","full_name","git_commits_url","git_refs_url","git_tags_url","hooks_url","html_url","id","node_id","issue_comment_url","issue_events_url","issues_url","keys_url","labels_url","languages_url","merges_url","milestones_url","name","notifications_url","owner","private","pulls_url","releases_url","stargazers_url","statuses_url","subscribers_url","subscription_url","tags_url","teams_url","trees_url","url"],"x-github-breaking-changes":[{"changeset":"remove_has_downloads","patch":{"properties":{"has_downloads":null}},"version":"2026-03-10"}]},"nullable-git-user":{"title":"Git User","description":"Metaproperties for Git author/committer information.","type":"object","properties":{"name":{"type":"string","example":"\"Chris Wanstrath\""},"email":{"type":"string","example":"\"chris@ozmm.org\""},"date":{"type":"string","format":"date-time","example":"\"2007-10-29T02:42:39.000-07:00\""}},"nullable":true},"nullable-simple-commit":{"title":"Simple Commit","description":"A commit.","type":"object","properties":{"id":{"type":"string","description":"SHA for the commit","example":"7638417db6d59f3c431d3e1f261cc637155684cd"},"tree_id":{"type":"string","description":"SHA for the commit's tree"},"message":{"description":"Message describing the purpose of the commit","example":"Fix #42","type":"string"},"timestamp":{"description":"Timestamp of the commit","example":"2014-08-09T08:02:04+12:00","format":"date-time","type":"string"},"author":{"type":"object","description":"Information about the Git author","properties":{"name":{"description":"Name of the commit's author","example":"Monalisa Octocat","type":"string"},"email":{"description":"Git email address of the commit's author","example":"monalisa.octocat@example.com","type":"string","format":"email"}},"required":["name","email"],"nullable":true},"committer":{"type":"object","description":"Information about the Git committer","properties":{"name":{"description":"Name of the commit's committer","example":"Monalisa Octocat","type":"string"},"email":{"description":"Git email address of the commit's committer","example":"monalisa.octocat@example.com","type":"string","format":"email"}},"required":["name","email"],"nullable":true}},"required":["id","tree_id","message","timestamp","author","committer"],"nullable":true},"pull-request-minimal":{"title":"Pull Request Minimal","type":"object","properties":{"id":{"type":"integer","format":"int64"},"number":{"type":"integer"},"url":{"type":"string"},"head":{"type":"object","properties":{"ref":{"type":"string"},"sha":{"type":"string"},"repo":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"url":{"type":"string"},"name":{"type":"string"}},"required":["id","url","name"]}},"required":["ref","sha","repo"]},"base":{"type":"object","properties":{"ref":{"type":"string"},"sha":{"type":"string"},"repo":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"url":{"type":"string"},"name":{"type":"string"}},"required":["id","url","name"]}},"required":["ref","sha","repo"]}},"required":["id","number","url","head","base"]},"referenced-workflow":{"title":"Referenced workflow","description":"A workflow referenced/reused by the initial caller workflow","type":"object","properties":{"path":{"type":"string"},"sha":{"type":"string"},"ref":{"type":"string"}},"required":["path","sha"]},"security-and-analysis":{"nullable":true,"type":"object","properties":{"advanced_security":{"description":"Enable or disable GitHub Advanced Security for the repository.\n\nFor standalone Code Scanning or Secret Protection products, this parameter cannot be used.\n","type":"object","properties":{"status":{"type":"string","enum":["enabled","disabled"]}}},"code_security":{"type":"object","properties":{"status":{"type":"string","enum":["enabled","disabled"]}}},"dependabot_security_updates":{"description":"Enable or disable Dependabot security updates for the repository.","type":"object","properties":{"status":{"description":"The enablement status of Dependabot security updates for the repository.","type":"string","enum":["enabled","disabled"]}}},"secret_scanning":{"type":"object","properties":{"status":{"type":"string","enum":["enabled","disabled"]}}},"secret_scanning_push_protection":{"type":"object","properties":{"status":{"type":"string","enum":["enabled","disabled"]}}},"secret_scanning_non_provider_patterns":{"type":"object","properties":{"status":{"type":"string","enum":["enabled","disabled"]}}},"secret_scanning_ai_detection":{"type":"object","properties":{"status":{"type":"string","enum":["enabled","disabled"]}}},"secret_scanning_delegated_alert_dismissal":{"type":"object","properties":{"status":{"type":"string","enum":["enabled","disabled"]}}},"secret_scanning_delegated_bypass":{"type":"object","properties":{"status":{"type":"string","enum":["enabled","disabled"]}}},"secret_scanning_delegated_bypass_options":{"type":"object","properties":{"reviewers":{"type":"array","description":"The bypass reviewers for secret scanning delegated bypass","items":{"type":"object","required":["reviewer_id","reviewer_type"],"properties":{"reviewer_id":{"type":"integer","description":"The ID of the team or role selected as a bypass reviewer"},"reviewer_type":{"type":"string","description":"The type of the bypass reviewer","enum":["TEAM","ROLE"]},"mode":{"type":"string","description":"The bypass mode for the reviewer","enum":["ALWAYS","EXEMPT"],"default":"ALWAYS"}}}}}}}},"simple-user":{"title":"Simple User","description":"A GitHub user.","type":"object","properties":{"name":{"nullable":true,"type":"string"},"email":{"nullable":true,"type":"string"},"login":{"type":"string","example":"octocat"},"id":{"type":"integer","format":"int64","example":1},"node_id":{"type":"string","example":"MDQ6VXNlcjE="},"avatar_url":{"type":"string","format":"uri","example":"https://github.com/images/error/octocat_happy.gif"},"gravatar_id":{"type":"string","example":"41d064eb2195891e12d0413f63227ea7","nullable":true},"url":{"type":"string","format":"uri","example":"https://api.github.com/users/octocat"},"html_url":{"type":"string","format":"uri","example":"https://github.com/octocat"},"followers_url":{"type":"string","format":"uri","example":"https://api.github.com/users/octocat/followers"},"following_url":{"type":"string","example":"https://api.github.com/users/octocat/following{/other_user}"},"gists_url":{"type":"string","example":"https://api.github.com/users/octocat/gists{/gist_id}"},"starred_url":{"type":"string","example":"https://api.github.com/users/octocat/starred{/owner}{/repo}"},"subscriptions_url":{"type":"string","format":"uri","example":"https://api.github.com/users/octocat/subscriptions"},"organizations_url":{"type":"string","format":"uri","example":"https://api.github.com/users/octocat/orgs"},"repos_url":{"type":"string","format":"uri","example":"https://api.github.com/users/octocat/repos"},"events_url":{"type":"string","example":"https://api.github.com/users/octocat/events{/privacy}"},"received_events_url":{"type":"string","format":"uri","example":"https://api.github.com/users/octocat/received_events"},"type":{"type":"string","example":"User"},"site_admin":{"type":"boolean"},"starred_at":{"type":"string","example":"\"2020-07-09T00:17:55Z\""},"user_view_type":{"type":"string","example":"public"}},"required":["avatar_url","events_url","followers_url","following_url","gists_url","gravatar_id","html_url","id","node_id","login","organizations_url","received_events_url","repos_url","site_admin","starred_url","subscriptions_url","type","url"]},"validation-error":{"title":"Validation Error","description":"Validation Error","type":"object","required":["message","documentation_url"],"properties":{"message":{"type":"string"},"documentation_url":{"type":"string"},"errors":{"type":"array","items":{"type":"object","required":["code"],"properties":{"resource":{"type":"string"},"field":{"type":"string"},"message":{"type":"string"},"code":{"type":"string"},"index":{"type":"integer"},"value":{"oneOf":[{"type":"string","nullable":true},{"type":"integer","nullable":true},{"type":"array","nullable":true,"items":{"type":"string"}}]}}}}}},"verification":{"title":"Verification","type":"object","properties":{"verified":{"type":"boolean"},"reason":{"type":"string"},"payload":{"type":"string","nullable":true},"signature":{"type":"string","nullable":true},"verified_at":{"type":"string","nullable":true}},"required":["verified","reason","payload","signature","verified_at"]},"workflow":{"title":"Workflow","description":"A GitHub Actions workflow","type":"object","properties":{"id":{"type":"integer","example":5},"node_id":{"type":"string","example":"MDg6V29ya2Zsb3cxMg=="},"name":{"type":"string","example":"CI"},"path":{"type":"string","example":"ruby.yaml"},"state":{"type":"string","example":"active","enum":["active","deleted","disabled_fork","disabled_inactivity","disabled_manually"]},"created_at":{"type":"string","format":"date-time","example":"2019-12-06T14:20:20.000Z"},"updated_at":{"type":"string","format":"date-time","example":"2019-12-06T14:20:20.000Z"},"url":{"type":"string","example":"https://api.github.com/repos/actions/setup-ruby/workflows/5"},"html_url":{"type":"string","example":"https://github.com/actions/setup-ruby/blob/master/.github/workflows/ruby.yaml"},"badge_url":{"type":"string","example":"https://github.com/actions/setup-ruby/workflows/CI/badge.svg"},"deleted_at":{"type":"string","format":"date-time","example":"2019-12-06T14:20:20.000Z"}},"required":["id","node_id","name","path","state","url","html_url","badge_url","created_at","updated_at"]},"workflow-run":{"title":"Workflow Run","description":"An invocation of a workflow","type":"object","properties":{"id":{"type":"integer","format":"int64","description":"The ID of the workflow run.","example":5},"name":{"type":"string","description":"The name of the workflow run.","nullable":true,"example":"Build"},"node_id":{"type":"string","example":"MDEwOkNoZWNrU3VpdGU1"},"check_suite_id":{"type":"integer","format":"int64","description":"The ID of the associated check suite.","example":42},"check_suite_node_id":{"type":"string","description":"The node ID of the associated check suite.","example":"MDEwOkNoZWNrU3VpdGU0Mg=="},"head_branch":{"type":"string","nullable":true,"example":"master"},"head_sha":{"description":"The SHA of the head commit that points to the version of the workflow being run.","example":"009b8a3a9ccbb128af87f9b1c0f4c62e8a304f6d","type":"string"},"path":{"description":"The full path of the workflow","example":"octocat/octo-repo/.github/workflows/ci.yml@main","type":"string"},"run_number":{"type":"integer","description":"The auto incrementing run number for the workflow run.","example":106},"run_attempt":{"type":"integer","description":"Attempt number of the run, 1 for first attempt and higher if the workflow was re-run.","example":1},"referenced_workflows":{"type":"array","nullable":true,"items":{"$ref":"#/components/schemas/referenced-workflow"}},"event":{"type":"string","example":"push"},"status":{"type":"string","nullable":true,"example":"completed"},"conclusion":{"type":"string","nullable":true,"example":"neutral"},"workflow_id":{"type":"integer","description":"The ID of the parent workflow.","example":5},"url":{"type":"string","description":"The URL to the workflow run.","example":"https://api.github.com/repos/github/hello-world/actions/runs/5"},"html_url":{"type":"string","example":"https://github.com/github/hello-world/suites/4"},"pull_requests":{"description":"Pull requests that are open with a `head_sha` or `head_branch` that matches the workflow run. The returned pull requests do not necessarily indicate pull requests that triggered the run.","type":"array","nullable":true,"items":{"$ref":"#/components/schemas/pull-request-minimal"}},"created_at":{"type":"string","format":"date-time"},"updated_at":{"type":"string","format":"date-time"},"actor":{"$ref":"#/components/schemas/simple-user"},"triggering_actor":{"$ref":"#/components/schemas/simple-user"},"run_started_at":{"type":"string","format":"date-time","description":"The start time of the latest run. Resets on re-run."},"jobs_url":{"description":"The URL to the jobs for the workflow run.","type":"string","example":"https://api.github.com/repos/github/hello-world/actions/runs/5/jobs"},"logs_url":{"description":"The URL to download the logs for the workflow run.","type":"string","example":"https://api.github.com/repos/github/hello-world/actions/runs/5/logs"},"check_suite_url":{"description":"The URL to the associated check suite.","type":"string","example":"https://api.github.com/repos/github/hello-world/check-suites/12"},"artifacts_url":{"description":"The URL to the artifacts for the workflow run.","type":"string","example":"https://api.github.com/repos/github/hello-world/actions/runs/5/rerun/artifacts"},"cancel_url":{"description":"The URL to cancel the workflow run.","type":"string","example":"https://api.github.com/repos/github/hello-world/actions/runs/5/cancel"},"rerun_url":{"description":"The URL to rerun the workflow run.","type":"string","example":"https://api.github.com/repos/github/hello-world/actions/runs/5/rerun"},"previous_attempt_url":{"nullable":true,"description":"The URL to the previous attempted run of this workflow, if one exists.","type":"string","example":"https://api.github.com/repos/github/hello-world/actions/runs/5/attempts/3"},"workflow_url":{"description":"The URL to the workflow.","type":"string","example":"https://api.github.com/repos/github/hello-world/actions/workflows/main.yaml"},"head_commit":{"$ref":"#/components/schemas/nullable-simple-commit"},"repository":{"$ref":"#/components/schemas/minimal-repository"},"head_repository":{"$ref":"#/components/schemas/minimal-repository"},"head_repository_id":{"type":"integer","example":5},"display_title":{"type":"string","example":"Simple Workflow","description":"The event-specific title associated with the run or the run-name if set, or the value of `run-name` if it is set in the workflow."}},"required":["id","node_id","head_branch","run_number","display_title","event","status","conclusion","head_sha","path","workflow_id","url","html_url","created_at","updated_at","head_commit","head_repository","repository","jobs_url","logs_url","check_suite_url","cancel_url","rerun_url","artifacts_url","workflow_url","pull_requests"]},"workflow-run-usage":{"title":"Workflow Run Usage","description":"Workflow Run Usage","type":"object","properties":{"billable":{"type":"object","properties":{"UBUNTU":{"type":"object","required":["total_ms","jobs"],"properties":{"total_ms":{"type":"integer"},"jobs":{"type":"integer"},"job_runs":{"type":"array","items":{"type":"object","required":["job_id","duration_ms"],"properties":{"job_id":{"type":"integer"},"duration_ms":{"type":"integer"}}}}}},"MACOS":{"type":"object","required":["total_ms","jobs"],"properties":{"total_ms":{"type":"integer"},"jobs":{"type":"integer"},"job_runs":{"type":"array","items":{"type":"object","required":["job_id","duration_ms"],"properties":{"job_id":{"type":"integer"},"duration_ms":{"type":"integer"}}}}}},"WINDOWS":{"type":"object","required":["total_ms","jobs"],"properties":{"total_ms":{"type":"integer"},"jobs":{"type":"integer"},"job_runs":{"type":"array","items":{"type":"object","required":["job_id","duration_ms"],"properties":{"job_id":{"type":"integer"},"duration_ms":{"type":"integer"}}}}}}}},"run_duration_ms":{"type":"integer"}},"required":["billable"]}}}}